#### Feeling Lucky? What data can tell you about winning the lottery!!!
#### Group 4: Ashley Williams, Anthony Hughes, Cealin Conroy, Christina Redmond, Leslie Tyler, 

Description: 
Project Team 7 has undertaken the initiative "Feeling Lucky!" Our team is committed to helping society understand how to use lottery trend analysis information to improve their lottery picks. Our team will analyze data sets from several U.S. lottery sources to identify commonalities. Project Team 7 is particularly interested in identifying the following: 
1.	The frequency with which specific winning numbers occur
2.	Numbers groups that result in winning strings 
3.	Are you feeling lucky? Pick a number!!
The project team believes its research will provide a resource to improve its chances of living the American dream, a leisure lifestyle sipping lattes, and checking our lottery portfolio.

Questions to answer:
Can data help you win the lottery?
What are the most common winning numbers?
Based off listed probability of winning... does it differ between state? 
If so, is it just chance or does the period of time the lottery has been running in that state account for it?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os
import xlrd

In [9]:
#Read excel files
df = pd.read_excel("Resource/pick3.xlsm") 
df.head()

        Date          State Time of Day Num1 Num2 Num3 Wining Number
0 2018-01-01       Maryland      Midday    9    1    5           915
1 2018-01-01       Maryland     Evening    8    2    1           821
2 2018-01-01       Virginia      Midday    9    9    1           991
3 2018-01-01       Virginia     Evening    4    2    6           426
4 2018-01-01  Washington,DC      Midday    5    9    3         5 9 3

In [ ]:
# Pick3 Numbers and Frequency

In [ ]:
# Questions and Notes
#

In [10]:
df = pd.read_excel("Resource/pick4.xlsm") 
df.head()

        Date      State Time of Day  Num1  Num2  Num3  Num4  Winning Number
0 2018-01-01  Maryland       Midday     1     6     0   9.0            1609
1 2018-01-01  Maryland      Evening     8     5     7   1.0            8571
2 2018-01-01   Virginia      Midday     0     9     9   8.0             998
3 2018-01-01   Virginia       Night     0     8     9   9.0             899
4 2018-01-01   Virginia      Midday     0     9     9   8.0             998

In [ ]:
# Pick 4 Number and Frequency

In [11]:
df = pd.read_excel("Resource/powerball.xlsx") 
df.head()

,Date,Num 1,Num 2,Num 3,Num 4,Num 5,Powerball Num,Winning Number
0,2018-01-03 00:00:00,2,18,37,39,42,12,21837394212
1,2018-01-06 00:00:00,12,29,30,33,61,26,122930336126
2,2018-01-10 00:00:00,7,24,33,49,50,4,7243349504
3,2018-01-13 00:00:00,14,25,35,58,69,24,142535586924
4,2018-01-17 00:00:00,3,33,37,51,57,27,33337515727

In [ ]:
# PowerBall Numbers and Frequency