#### Feeling Lucky? What data can tell you about winning the lottery!!!
#### Group 4: Ashley Williams, Anthony Hughes, Cealin Conroy, Christina Redmond, Leslie Tyler, 

Description: 
Project Team 7 has undertaken the initiative "Feeling Lucky!" Our team is committed to helping society understand how to use lottery trend analysis information to improve their lottery picks. Our team will analyze data sets from several U.S. lottery sources to identify commonalities. Project Team 7 is particularly interested in identifying the following: 
1.	The frequency with which specific winning numbers occur
2.	Numbers groups that result in winning strings 
3.	Are you feeling lucky? Pick a number!!
The project team believes its research will provide a resource to improve its chances of living the American dream, a leisure lifestyle sipping lattes, and checking our lottery portfolio.

Questions to answer:
Can data help you win the lottery?
What are the most common winning numbers?
Based off listed probability of winning... does it differ between state? 
If so, is it just chance or does the period of time the lottery has been running in that state account for it?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import requests
import os
import xlrd

In [2]:
#Read excel files
pick3 = pd.read_excel("Resource/pick3.xlsm") 

# Concatenate Num1, Num2, Num3 becasue the dataframe would drop the "0" digit in Num1

pick3['WinningNumber'] = ''
pick3['WinningNumber'] = pick3['WinningNumber'].map(str) + pick3['Num1'].astype(str) + pick3['Num2'].astype(str) + pick3['Num3'].astype(str)
pick3

           Date          State TimeofDay  Num1  Num2  Num3 WinningNumber
0    2018-01-01       Maryland    Midday     9     1     5           915
1    2018-01-01       Maryland   Evening     8     2     1           821
2    2018-01-01       Virginia    Midday     9     9     1           991
3    2018-01-01       Virginia   Evening     4     2     6           426
4    2018-01-01  Washington,DC    Midday     5     9     3           593
...         ...            ...       ...   ...   ...   ...           ...
4080 2020-01-30  Washington,DC    Midday     6     1     2           612
4081 2020-01-31       Maryland    Midday     1     1     0           110
4082 2020-01-31       Maryland   Evening     0     1     8           018
4083 2020-01-31  Washington,DC   Evening     6     0     4           604
4084 2020-01-31  Washington,DC    Midday     6     8     6           686

[4085 rows x 7 columns]

In [3]:
# What are the most frequent number in Pick 3 (Hot, Cold, Warm)
pick3[['Num1', 'Num2', 'Num3']].head()

   Num1  Num2  Num3
0     9     1     5
1     8     2     1
2     9     9     1
3     4     2     6
4     5     9     3

In [16]:
# Pick3 Numbers and Frequency 
# Hot Numbers - Numbers that appear frequent 5 times or more
# Warm Number - Numbers that apear rarely 4 times or less
#hot = []
#for col in pick3.columns:
    #hot_series = pick3[Num1].value_counts()
    
hot = []
for Num1 in pick3.columns:
    hot_series = pick3[Num1].value_counts()
    hot_series.name = Num1
    pieces.append(tmp_series)
pick3 = pd.concat(hot, axis=1)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
 = pick3

In [ ]:
pick4 = pd.read_excel("Resource/pick4.xlsm") 

# Concatenate Num1, Num2, Num3 becasue the dataframe would drop the "0" digit in Num1
pick4['Winning Number'] = ''
pick4['Winning Number'] = pick4['Winning Number'].map(str) + pick4['Num1'].astype(str) + pick4['Num2'].astype(str) + pick4['Num3'].astype(str) + pick4['Num4'].astype(str) 
pick4

In [ ]:
# Pick 4 Number and Frequency

In [ ]:
df = pd.read_excel("Resource/powerball.xlsx") 
df.head()

In [ ]:
# PowerBall Numbers and Frequency