#### Feeling Lucky? What data can tell you about winning the lottery!!!
#### Group 4: Ashley Williams, Anthony Hughes, Cealin Conroy, Christina Redmond, Leslie Tyler, 

Description: 
Project Team 7 has undertaken the initiative "Feeling Lucky!" Our team is committed to helping society understand how to use lottery trend analysis information to improve their lottery picks. Our team will analyze data sets from several U.S. lottery sources to identify commonalities. Project Team 7 is particularly interested in identifying the following: 
1.	The frequency with which specific winning numbers occur
2.	Numbers groups that result in winning strings 
3.	Are you feeling lucky? Pick a number!!
The project team believes its research will provide a resource to improve its chances of living the American dream, a leisure lifestyle sipping lattes, and checking our lottery portfolio.

Questions to answer:
Can data help you win the lottery?
What are the most common winning numbers?
Based off listed probability of winning... does it differ between state? 
If so, is it just chance or does the period of time the lottery has been running in that state account for it?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import requests
import random
import os
import xlrd

In [2]:
#Read excel files
pick3 = pd.read_excel("Resource/pick3.xlsm") 

# Concatenate Num1, Num2, Num3 becasue the dataframe would drop the "0" digit in Num1

pick3['WinningNumber'] = ''
pick3['WinningNumber'] = pick3['WinningNumber'].map(str) + pick3['Num1'].astype(str) + pick3['Num2'].astype(str) + pick3['Num3'].astype(str)
pick3

           Date          State TimeofDay  Num1  Num2  Num3 WinningNumber
0    2018-01-01       Maryland    Midday     9     1     5           915
1    2018-01-01       Maryland   Evening     8     2     1           821
2    2018-01-01       Virginia    Midday     9     9     1           991
3    2018-01-01       Virginia   Evening     4     2     6           426
4    2018-01-01  Washington,DC    Midday     5     9     3           593
...         ...            ...       ...   ...   ...   ...           ...
4080 2020-01-30  Washington,DC    Midday     6     1     2           612
4081 2020-01-31       Maryland    Midday     1     1     0           110
4082 2020-01-31       Maryland   Evening     0     1     8           018
4083 2020-01-31  Washington,DC   Evening     6     0     4           604
4084 2020-01-31  Washington,DC    Midday     6     8     6           686

[4085 rows x 7 columns]

In [3]:
# What are the most frequent number in Pick 3 (Hot, Cold)
pick3['WinningNumber'].head()

0    915
1    821
2    991
3    426
4    593
Name: WinningNumber, dtype: object

In [4]:
#for col in pick3.columns:
    #print(col)

In [25]:
num1_freq = pick3['Num1'].value_counts().index.to_list()
num2_freq = pick3['Num2'].value_counts().index.to_list()
num3_freq = pick3['Num3'].value_counts().index.to_list()

In [24]:
num1_freq

[6, 7, 3, 4, 2, 8, 5, 9, 0, 1]

In [26]:
# Pick3 Numbers and Frequency 
win = []
for col in ["Num1", "Num2", "Num3"]:
    win_series = pick3[col].value_counts()
    win_series.name = col
    win.append(win_series)
    print(win_series)
    print()

6    444
7    431
3    422
4    412
2    406
8    402
5    401
9    398
0    389
1    380
Name: Num1, dtype: int64

1    446
4    430
0    429
2    415
6    410
8    408
9    395
3    387
5    386
7    379
Name: Num2, dtype: int64

8    441
1    420
2    420
6    413
7    412
0    412
5    408
3    395
4    389
9    375
Name: Num3, dtype: int64

In [29]:
#test = win_series.to_frame().reset_index()
#test

best1 = num1_freq[0:3]
best2 = num2_freq[0:3]
best3 = num3_freq[0:3]

[8, 1, 2]

In [31]:
gen1 = random.choice(best1)
gen2 = random.choice(best2)
gen3 = random.choice(best3)

gen_pick3 = f'{gen1}{gen2}{gen3}'

gen_pick3

'608'

In [40]:
straight = pick3.loc[pick3['WinningNumber'] == '521']
straight

           Date          State TimeofDay  Num1  Num2  Num3 WinningNumber
86   2018-01-16       Virginia    Midday     5     2     1           521
210  2018-02-08       Maryland   Evening     5     2     1           521
831  2018-06-03       Maryland    Midday     5     2     1           521
1422 2018-09-23       Virginia   Evening     5     2     1           521
2421 2019-03-24       Virginia   Evening     5     2     1           521
2618 2019-04-29       Maryland    Midday     5     2     1           521
3427 2019-09-23       Virginia    Midday     5     2     1           521
3981 2020-01-02  Washington,DC   Evening     5     2     1           521

In [85]:
#def box(b):
    #return box ['WinningNumber']
sort_by_box = pick3.sort_values['WinningNumber'] == '375']
sort_by_box

SyntaxError: unmatched ']' (<ipython-input-85-7eb67cf92ba4>, line 3)

In [18]:
test_x = []
number = []
for index, row in test.iterrows():
    number.append(row[1])
    if 13<row[1]>10:
        test_x.append('hot')
    elif 9<row[1]>5:
        test_x.append("warm")
    else:
        test_x.append("cold")
test_x

['warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'warm',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold',
 'cold']

In [8]:
df = pd.DataFrame(list(zip(number, test_x)), 
               columns =['Number', 'Categories'])
df

     Number Categories
0        12       warm
1        11       warm
2        11       warm
3        10       warm
4        10       warm
..      ...        ...
976       1       cold
977       1       cold
978       1       cold
979       1       cold
980       1       cold

[981 rows x 2 columns]

In [9]:
test_x = ["Hot", "Warm", "Cold"]

# The values of each section of the pie chart
sizes = [220, 95, 80]

# The colors of each section of the pie chart
colors = ["red", "blue", "green"]

# Tells matplotlib to seperate the "Humans" section from the others
explode = (0.1, 0, 0.5, 0)


plt.pie(sizes, explode=explode, labels=labels, colors=colors, shadow=True, startangle=140)

NameError: name 'labels' is not defined

In [ ]:
x_limit = 100
# List of values from 0 to 100 each value being 1 greater than the last
x_axis = np.arange(10, x_limit, 1)
# Create a random array of data that we will use for our y values
pick3 = [random.random() for value in x_axis]
plt.scatter(x_axis, pick3, marker="o", facecolors="red", edgecolors="black",
            s=x_axis, alpha=0.75)

In [ ]:
pick4 = pd.read_excel("Resource/pick4.xlsm") 

# Concatenate Num1, Num2, Num3 becasue the dataframe would drop the "0" digit in Num1
pick4['Winning Number'] = ''
pick4['Winning Number'] = pick4['Winning Number'].map(str) + pick4['Num1'].astype(str) + pick4['Num2'].astype(str) + pick4['Num3'].astype(str) + pick4['Num4'].astype(str) 
pick4

In [ ]:
# Pick 4 Number and Frequency

In [ ]:
df = pd.read_excel("Resource/powerball.xlsx") 
df.head()

In [ ]:
# PowerBall Numbers and Frequency