#### Feeling Lucky? What data can tell you about winning the lottery!!!
#### Group 4: Ashley Williams, Anthony Hughes, Cealin Conroy, Christina Redmond, Leslie Tyler, 

Description: 
Project Team 7 has undertaken the initiative "Feeling Lucky!" Our team is committed to helping society understand how to use lottery trend analysis information to improve their lottery picks. Our team will analyze data sets from several U.S. lottery sources to identify commonalities. Project Team 7 is particularly interested in identifying the following: 
1.	The frequency with which specific winning numbers occur
2.	Numbers groups that result in winning strings 
3.	Are you feeling lucky? Pick a number!!
The project team believes its research will provide a resource to improve its chances of living the American dream, a leisure lifestyle sipping lattes, and checking our lottery portfolio.

Questions to answer:
Can data help you win the lottery?
What are the most common winning numbers?
Based off listed probability of winning... does it differ between state? 
If so, is it just chance or does the period of time the lottery has been running in that state account for it?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import requests
import os
import xlrd

In [5]:
#Read excel files
pick3 = pd.read_excel("Resource/pick3.xlsm") 
pick3.head()

        Date          State TimeofDay  Num1  Num2  Num3  WiningNumber
0 2018-01-01       Maryland    Midday   9.0   1.0   5.0         915.0
1 2018-01-01       Maryland   Evening   8.0   2.0   1.0         821.0
2 2018-01-01       Virginia    Midday   9.0   9.0   1.0         991.0
3 2018-01-01       Virginia   Evening   4.0   2.0   6.0         426.0
4 2018-01-01  Washington,DC    Midday   5.0   9.0   3.0         593.0

In [4]:
# Pick3 Numbers and Frequency
# What are the most frequent number in Pick 3 (Hot, Cold, Warm)

In [ ]:
# Questions and Notes
#

In [ ]:
df = pd.read_excel("Resource/pick4.xlsm") 
df.head(20)

In [ ]:
# Pick 4 Number and Frequency

In [ ]:
df = pd.read_excel("Resource/powerball.xlsx") 
df.head()

In [ ]:
# PowerBall Numbers and Frequency